.quote {
    display: flex;

    .formContainer {
        flex: 6;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        text-align: center;
        
        
        
        .button {
            padding: 10px 20px;
            border: 1px solid #000;
            border-radius: 5px;
            background: #000;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            cursor: pointer;
            text-align: center;
            appearance: button;
            
            align-items: center;
            justify-content: center;
            &:hover {
                background-color: orange;
            }
            
        }

        .buttonDiv {
            margin: 40px;
            display: flex;
            justify-content: space-between;
        }
    }
    
}