.listWrapper{

    
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    .listTitle{
        font-weight: 500;
        color: grey;
        margin-bottom: 15px;
    }

    .table{

        .tableCellColumn{
            font-size: 18px;
            font-weight: 300;
            
        }

        .tableCell{
            color: grey;
        }

        .status{
            padding: 5px;
            border-radius: 5px;

            &.Produzione{
                color: black;
                background-color: rgba(255, 255, 0, 0.477);
            }

            &.Ordinare {
                color: black;
                background-color: rgba(255, 166, 0, 0.381);
            }

            &.Incompleto{
                color: black;
                background-color: rgba(255, 0, 0, 0.426);
            }

            &.Completo{
                color: black;
                background-color: rgba(0, 128, 0, 0.534);
            }
        }
        

    }
}
